receivers:
  journald:
    directory: /var/log/journal

  host_metrics:
    collection_interval: 60s
    mute_process_all_errors: true
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:
      processes:
      process:
      system:

exporters:
  otlp_http/openobserve:
    endpoint: https://observe.tiker.net/api/default
    headers:
      Authorization: Basic {{ token | safe }}
      stream-name: {{ config.stream_name | safe }}
  debug/metrics:
    verbosity: normal

processors:
  resource_detection/system:
    detectors: [system]
    override: false
    system:
      hostname_sources: [os]

service:
  telemetry:
    logs:
      level: info
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: localhost
                port: 9888
  pipelines:
    logs:
      receivers: [journald]
      processors: [resource_detection/system]
      exporters: [otlp_http/openobserve]

    metrics:
      receivers: [host_metrics]
      # exporters: [otlp_http/openobserve,debug/metrics]
      processors: [resource_detection/system]
      exporters: [otlp_http/openobserve]
