dc_eximconfig_configtype='{{ config.config_type }}'
dc_other_hostnames='{{ config.other_hostnames | join(";") }}'
dc_local_interfaces='{{ config.local_interfaces | join(";") }}'
dc_readhost='{{ config.read_host }}'
dc_relay_domains='{{ config.relay_domains | join(";") }}'
dc_minimaldns='false'
dc_relay_nets='{{ config.relay_nets | join(";") }}'
dc_smarthost='{{ config.smarthosts | join(";") }}'
CFILEMODE='644'
dc_use_split_config='{{ config.use_split_config | string | lower }}'
dc_hide_mailname='{{ config.hide_mailname | string | lower }}'
dc_mailname_in_oh='{{ config.mailname_in_oh | string | lower }}'
dc_localdelivery='{{ config.local_delivery }}'
